*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display:block;
    max-width:100%;
}

.escena{
    position:relative;
    width: 50%;
    border: 2px solid red;
    margin:50px auto;
}

.burbuja{
    width: 500px;
    position: absolute;
    left: 20%;
}